/* Staff Manager CSS */
.staff-wrapper{
clear:both;
float:none;
}

.staff-preview-details{
    text-align: center;
}

#staff-preview img {
    max-height: 180px;
    width: auto;
    text-align: center;
}

#staff-preview-name {
    font-size: 24px;
	margin-top: 5px;
}

#staff-preview-name a {
    color: inherit;
}

#staff-image img {
    box-shadow: 5px 5px 15px #ddd;
    border: solid 1px #ddd;
}

div#staff-details {
    margin-top: 25px;
}

#staff-meta h3 {
    font-size: 24px;
}

#staff-meta p, #staff-bio {
    font-size: 18px;
}
#staff-meta p{margin-bottom:10px;}

#staff-meta span.info-title{
	font-weight:bold;
	display: inline-block;
	margin-right:10px;
}
.staff-member-detail{
display:none;
}

.staff-member-detail #staff-image img{
	width: 100%;
	height:auto;
}
.staff-member-detail #staff-bio{
	margin-top:15px;
	
}

.active{
display:block;
    margin-top: 35px;
}

#staff-meta a.button {
    box-shadow: none;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 5px;
}

#staff-meta a.button:hover{text-decoration:none; background:#333;};